html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    background-color: #eee;
}