html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    background-color: #eee;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 26px;
}