.main {
    display: grid;
    grid-gap: 20px;
    max-width: 900px;
}

@media (max-width: 700px) {
    .main {
        grid-template-columns: 350px;
    }
}

.main__header {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 30px;
}