.taskList {
    margin: 0px;
    padding: 20px;
    list-style-type: none;
}

.taskList__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.taskList__content--done {
    text-decoration-line: line-through;
}
/* 
.taskList__buttonDone {
}

.taskList__buttonRemove {
} */